:root {
	 --color-primary: #5ec576;
	 --color-secondary: #ffcb03;
	 --color-tertiary: #ff585f;
	 --color-primary-darker: #4bbb7d;
	 --color-secondary-darker: #fb0;
	 --color-tertiary-darker: #fd424b;
	 --color-primary-opacity: #5ec576 3a;
	 --color-secondary-opacity: #ffcd03 31;
	 --color-tertiary-opacity: #ff5860 2d;
	 --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
	 --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

.container {
	 max-width: 114rem;
	 width: 100%;
}
/* GENERAL ELEMENTS */
 .section {
	 padding: 10rem 3rem;
	 border-top: 1px solid #ddd;
	 transition: transform 1s, opacity 1s;
}
 @media (max-width: 50em) {
	 .section {
		 padding: 5rem 3rem;
	}
}
 @media (max-width: 40em) {
	 .section {
		 padding: 5rem 2rem;
	}
}
 .section--hidden {
	 opacity: 0;
	 transform: translateY(8rem);
}
 .section__title {
	 max-width: 114rem;
	 margin: 0 auto 8rem auto;
}
 .section__description {
	 font-size: 1.8rem;
	 font-weight: 600;
	 text-transform: uppercase;
	 color: var(--color-primary);
	 margin-bottom: 1rem;
}
 .section__header {
	 font-size: clamp(2.4rem, calc(1.6rem + 1.5vw), 4rem);
	 line-height: 1.4;
	 font-weight: 500;
}
 p {
	 color: #666;
}
 img {
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
}
 .highlight {
	 position: relative;
}
 .highlight::after {
	 display: block;
	 content: '';
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 height: 100%;
	 width: 100%;
	 z-index: -1;
	 opacity: 0.7;
	 transform: scale(1.07, 1.05) skewX(-15deg);
	 background-image: var(--gradient-primary);
}
 .section__title--testimonials {
	 margin-bottom: 4rem;
}
/* SIGNUP */
 .section--sign-up {
	 background-color: #37383d;
	 border-top: none;
	 border-bottom: 1px solid #444;
	 text-align: center;
	 padding: 10rem 3rem;
}
 .section--sign-up .section__header {
	 color: #fff;
	 text-align: center;
}
 .section--sign-up .section__title {
	 margin-bottom: 6rem;
}
 .section--sign-up .btn {
	 font-size: 1.9rem;
	 padding: 2rem 5rem;
}
 @media (max-width: 50em) {
	 .section--sign-up .btn {
		 padding: 1.5rem 3rem;
	}
}
 @media (max-width: 30em) {
	 .section--sign-up .btn {
		 padding: 1rem 2rem;
	}
}
 .hidden {
	 visibility: hidden;
	 opacity: 0;
}
/* COOKIE MESSAGE */
 .cookie-message {
	 display: flex;
	 justify-content: space-evenly;
	 flex-wrap: wrap;
	 width: 100%;
	 background-color: white;
	 color: #bbb;
	 font-size: 1.5rem;
	 font-weight: 400;
	 padding: 2rem;
}
 .cookie-message button {
	 margin-top: 1rem;
}
/* FOOTER */
 .footer {
	 padding: 10rem 3rem;
	 background-color: #37383d;
	 display: grid;
	 grid-template-columns: 1fr;
	 place-items: center;
	 row-gap: 3rem;
}
 .footer__nav {
	 list-style: none;
	 display: grid;
	 grid-template-columns: repeat(auto-fit, minmax(7rem, 13rem));
	 gap: 3rem;
}
 @media (max-width: 45em) {
	 .footer__nav {
		 grid-template-columns: repeat(3, 1fr);
	}
}
 @media (max-width: 35em) {
	 .footer__nav {
		 grid-template-columns: repeat(2, 1fr);
	}
}
 .footer__link {
	 font-size: 1.6rem;
	 color: #eee;
	 text-decoration: none;
}
 .footer__logo {
	 width: 8rem;
	 display: block;
}
 .footer__copyright {
	 font-size: 1.4rem;
	 color: #aaa;
	 text-align: center;
}
/* HEADER */
 .header {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 margin: 0 auto;
}
 .header__title {
	 flex: 1;
	 display: grid;
	 grid-template-columns: 3fr 2fr;
	 row-gap: 3rem;
	 align-content: center;
	 justify-content: center;
	 align-items: start;
	 justify-items: start;
	 padding: 5rem;
	 margin: 8rem 0;
}
 @media (max-width: 53em) {
	 .header__title {
		 grid-template-columns: 1fr;
		 margin: 4rem 0;
		 padding: 3rem;
	}
}
 @media (max-width: 53em) {
	 .header__title {
		 padding: 3rem 2rem;
	}
}
 .header__text {
	 font-size: 2.3rem;
	 font-weight: 500;
	 line-height: 1.5;
}
 .header__img {
	 width: 100%;
	 grid-column: 0.6666666667;
	 grid-row: 1 / span 4;
	 transform: translateY(-6rem);
}
 @media (max-width: 53em) {
	 .header__img {
		 display: none;
	}
}
/* NAVIGATION */
 .nav {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 padding: 1rem 2rem;
	 width: 100%;
	 position: relative;
	 z-index: 500;
	/* nav and sticky class at the same time */
}
 .nav.sticky {
	 background-color: rgba(255, 255, 255, 0.95);
	 position: fixed;
	 z-index: 100;
	 top: 0;
	 right: 0;
	 left: 0;
}
 .nav--icon-box {
	 padding: 2rem;
	 cursor: pointer;
	 display: none;
	 justify-self: end;
}
 @media only screen and (max-width: 60em) {
	 .nav--icon-box {
		 display: block;
	}
}
 .nav--icon-top, .nav--icon-bottom, .nav--icon-center {
	 background: #000;
	 width: 35px;
	 height: 2.5px;
	 border-radius: 10rem;
	 transition: all 0.3s;
}
 .nav--icon-top {
	 margin-bottom: 5px;
}
 .nav--icon-bottom {
	 margin-top: 5px;
}
 .nav--icon-active .nav--icon-center {
	 background-color: transparent;
}
 .nav--icon-active .nav--icon-top {
	 transform: rotate(227deg) translate(-1px, -1px);
	 margin: 0;
}
 .nav--icon-active .nav--icon-bottom {
	 transform: rotate(-227deg) translate(-2px, 3px);
	 margin: 0;
}
 .nav__logo {
	 width: 15rem;
	 transition: all 0.3s;
}
 .nav__links {
	 display: flex;
	 align-items: center;
	 list-style: none;
}
 @media (max-width: 60em) {
	 .nav__links {
		 display: none;
	}
}
 .nav__links--active {
	 display: flex;
	 flex-direction: column;
	 width: 100vw;
	 height: 100vh;
	 position: absolute;
	 background-color: #fff;
	 top: 6rem;
	 left: 0;
	 right: 0;
	 z-index: 100;
	 overflow-y: scroll;
	 padding: 3rem 0 6rem;
}
 .nav__item {
	 padding: 2rem;
}
 .nav__link:link, .nav__link:visited {
	 font-size: 1.7rem;
	 font-weight: 400;
	 color: inherit;
	 text-decoration: none;
	 display: block;
	 transition: all 0.3s;
}
 .nav .nav__link--btn:link, .nav .nav__link--btn:visited {
	 padding: 0.8rem 2.5rem;
	 border-radius: 3rem;
	 background-color: var(--color-primary);
	 color: #222;
}
 .nav .nav__link--btn:hover, .nav .nav__link--btn:active {
	 color: inherit;
	 background-color: var(--color-primary-darker);
	 color: #333;
}
*, *::before, *::after {
	 margin: 0;
	 padding: 0;
	 box-sizing: inherit;
	 list-style: none;
	 scroll-behavior: smooth;
	 scroll-padding-top: 10rem;
}
 html {
	 font-size: 62.5%;
	 box-sizing: border-box;
}
 .preload * {
	 transition: none !important;
}
 body {
	 color: #444;
	 background-color: #f3f3f3;
}
 ::-webkit-scrollbar {
	 width: 2rem;
}
 ::-webkit-scrollbar-track {
	 background-color: transparent;
}
 ::-webkit-scrollbar-thumb {
	 background-color: #d6dee1;
	 border-radius: 2rem;
	 border: 6px solid transparent;
	 background-clip: content-box;
}
 ::-webkit-scrollbar-thumb:hover {
	 background-color: #a8bbbf;
}
 body {
	 font-family: 'Poppins', sans-serif;
	 font-weight: 300;
	 line-height: 1.8;
}
 h1 {
	 font-size: clamp(2.6rem, calc(1.6rem + 2vw), 5.5rem);
	 line-height: 1.4;
}
.scr-reader {
	 position: absolute;
	 top: 0;
	 left: -1000000px;
	 width: 1px;
	 height: 1px;
	 overflow: hidden;
}
 .overflow-handler {
	 overflow: hidden;
}
.btn {
	 display: inline-block;
	 background-color: var(--color-primary);
	 font-size: 1.6rem;
	 font-family: inherit;
	 font-weight: 500;
	 border: none;
	 padding: 1.25rem 4.5rem;
	 border-radius: 3rem;
	 cursor: pointer;
	 transition: all 0.3s;
}
 @media (max-width: 45em) {
	 .btn {
		 padding: 1.25rem 3rem;
	}
}
 .btn:hover {
	 background-color: var(--color-primary-darker);
}
 .btn--text {
	 display: inline-block;
	 background: none;
	 font-size: 1.7rem;
	 font-family: inherit;
	 font-weight: 500;
	 color: var(--color-primary);
	 border: none;
	 border-bottom: 1px solid currentColor;
	 padding-bottom: 2px;
	 cursor: pointer;
	 transition: all 0.3s;
}
 .btn--close-modal {
	 font-family: inherit;
	 color: inherit;
	 position: absolute;
	 top: -0.5rem;
	 right: 1rem;
	 font-size: 4rem;
	 cursor: pointer;
	 border: none;
	 background: none;
}
 /* FEATURES */
 .features {
	 display: grid;
	 grid-template-columns: 1fr 1fr;
	 gap: 4rem;
	 margin: 0 auto;
}
 @media (max-width: 60em) {
	 .features {
		 grid-template-columns: 1fr;
	}
}
 .features__feature {
	 align-self: center;
	 justify-self: center;
	 font-size: 1.5rem;
}
 @media (max-width: 60em) {
	 .features__feature:nth-of-type(2) {
		 grid-row: 0.8;
	}
}
 .features__icon {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 background-color: var(--color-primary-opacity);
	 height: 5.5rem;
	 width: 5.5rem;
	 border-radius: 50%;
	 margin-bottom: 2rem;
}
 .features__icon svg {
	 height: 2.5rem;
	 width: 2.5rem;
	 fill: var(--color-primary);
}
 .features__header {
	 font-size: 2rem;
	 margin-bottom: 1rem;
}
 /* MODAL WINDOW */
 .modal {
	 position: fixed;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 max-width: 50rem;
	 width: 93vw;
	 background-color: #f3f3f3;
	 padding: 4rem;
	 box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
	 z-index: 1000;
	 border-radius: 0.5rem;
	 transition: all 0.5s;
}
 @media (max-width: 40em) {
	 .modal {
		 padding: 4rem 2rem;
	}
}
 .modal__header {
	 font-size: 2.25rem;
	 margin-bottom: 4.5rem;
	 line-height: 1.5;
}
 .modal__box {
	 display: flex;
	 justify-content: space-between;
	 flex-direction: column;
	 overflow: hidden;
}
 .modal__form {
	 display: grid;
	 grid-template-columns: 1fr;
	 align-items: center;
	 gap: 2.5rem;
}
 .modal__form label {
	 font-size: 1.7rem;
	 font-weight: 500;
	 margin-bottom: 1rem;
}
 .modal__form input {
	 font-size: 1.7rem;
	 padding: 1rem 1.5rem;
	 border: 1px solid #ddd;
	 border-radius: 0.5rem;
}
 .modal__form button {
	 justify-self: center;
	 margin-top: 1rem;
}
 .overlay {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-color: rgba(0, 0, 0, 0.5);
	 backdrop-filter: blur(4px);
	 z-index: 100;
	 transition: all 0.5s;
}
/* OPERATIONS */
 .operations {
	 margin: 5rem auto 0;
	 background-color: #fff;
}
 .operations__tab-container {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-wrap: wrap;
}
 .operations__tab {
	 transform: translateY(-50%);
	 margin: 0 2rem 3rem;
}
 .operations__tab span {
	 margin-right: 1rem;
	 font-weight: 600;
	 display: inline-block;
}
 .operations__tab--1 {
	 background-color: var(--color-secondary);
}
 .operations__tab--1:hover {
	 background-color: var(--color-secondary-darker);
}
 .operations__tab--3 {
	 background-color: var(--color-tertiary);
}
 .operations__tab--3:hover {
	 background-color: var(--color-tertiary-darker);
}
 .operations__tab--active {
	 transform: translateY(-66%);
}
 .operations__content {
	 display: none;
	/* JUST PRESENTATIONAL */
	 font-size: 1.7rem;
	 padding: 2.5rem 7rem 6.5rem 7rem;
}
 @media (max-width: 50em) {
	 .operations__content {
		 padding: 0 3rem 3rem;
	}
}
 @media (max-width: 40em) {
	 .operations__content {
		 padding: 0 2rem 3rem;
	}
}
 .operations__content--active {
	 display: grid;
	 grid-template-columns: 7rem 1fr;
	 column-gap: 3rem;
	 row-gap: 2rem;
}
 @media (max-width: 50em) {
	 .operations__content--active {
		 grid-template-columns: 1fr;
	}
}
 .operations__content p {
	 grid-column: 2;
}
 @media (max-width: 50em) {
	 .operations__content p {
		 grid-column: 1;
	}
}
 .operations__header {
	 font-size: 2.25rem;
	 font-weight: 500;
	 align-self: center;
}
 .operations__icon {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 7rem;
	 width: 7rem;
	 border-radius: 50%;
}
 .operations__icon svg {
	 height: 2.75rem;
	 width: 2.75rem;
}
 .operations__icon--1 {
	 background-color: var(--color-secondary-opacity);
}
 .operations__icon--1 svg {
	 fill: var(--color-secondary-darker);
}
 .operations__icon--2 {
	 background-color: var(--color-primary-opacity);
}
 .operations__icon--2 svg {
	 fill: var(--color-primary);
}
 .operations__icon--3 {
	 background-color: var(--color-tertiary-opacity);
}
 .operations__icon--3 svg {
	 fill: var(--color-tertiary);
}
 /* SLIDER */
 .slide {
	 position: absolute;
	 top: 0;
	 width: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	/* THIS creates the animation! */
	 transition: transform 1s;
}
 .slide img {
	/* Only for images that have different size than slide */
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
}
 .slider {
	 height: 30rem;
	 margin: 0 auto;
	 position: relative;
	/* IN THE END */
	 overflow: hidden;
}
 @media (max-width: 55em) {
	 .slider {
		 height: 40rem;
	}
}
 @media (max-width: 25em) {
	 .slider {
		 height: 45rem;
	}
}
 @media (max-width: 20em) {
	 .slider {
		 height: 55rem;
	}
}
 .slider__btn {
	 position: absolute;
	 top: 35%;
	 z-index: 10;
	 border: none;
	 background: rgba(255, 255, 255, 0.7);
	 font-family: inherit;
	 color: #333;
	 border-radius: 50%;
	 height: 5.5rem;
	 width: 5.5rem;
	 font-size: 3.25rem;
	 cursor: pointer;
}
 @media (max-width: 40em) {
	 .slider__btn {
		 display: none;
	}
}
 .slider__btn--left {
	 left: 6%;
	 transform: translate(-50%, -50%);
}
 .slider__btn--right {
	 right: 6%;
	 transform: translate(50%, -50%);
}
 .dots {
	 position: absolute;
	 bottom: 5%;
	 left: 50%;
	 transform: translateX(-50%);
	 display: flex;
}
 .dots__dot {
	 border: none;
	 background-color: #b9b9b9;
	 opacity: 0.7;
	 height: 1rem;
	 width: 1rem;
	 border-radius: 50%;
	 margin-right: 1.75rem;
	 cursor: pointer;
	 transition: all 0.5s;
	/* Only necessary when overlying images */
	/* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
	 */
}
 .dots__dot:last-child {
	 margin: 0;
}
 .dots__dot--active {
	/* background-color: #fff;
	 */
	 background-color: #888;
	 opacity: 1;
}
 /* TESTIMONIALS */
 .testimonial {
	 width: 75%;
	 position: relative;
}
 @media (max-width: 40em) {
	 .testimonial {
		 width: 100%;
	}
}
 .testimonial__header {
	 font-size: 2.25rem;
	 font-weight: 500;
	 margin-bottom: 1.5rem;
}
 .testimonial__text {
	 font-size: 1.7rem;
	 margin-bottom: 3.5rem;
	 color: #666;
}
 .testimonial__author {
	 font-style: normal;
	 display: grid;
	 grid-template-columns: 6.5rem 1fr;
	 column-gap: 2rem;
}
 .testimonial__photo {
	 grid-row: 1 / span 2;
	 width: 6.5rem;
	 border-radius: 50%;
}
 .testimonial__name {
	 font-size: 1.7rem;
	 font-weight: 500;
	 align-self: end;
	 margin: 0;
}
 .testimonial__location {
	 font-size: 1.5rem;
}
 
